a {
	text-decoration: none; 
	color:black;
	font-weight: bolder;
}
h1{
	color: rgb(250, 102, 102);
}
h1:hover{
	color:yellow;
}
h2:hover{
	color:violet;
}
body{
	background-color: rgb(201,222,228);
}
.listAlign{
	list-style-position: inside;
	font-size: 20px;
	font-weight: bolder;
	position:relative;
	left:34%;
	margin-top: 30px;
	
}
.listAlign a:hover{
	color:green;
}

h2.centering{
	text-align:center;
}
.IMDBLink{
	display:block;
	color:black;
	font-weight: bold;
	text-align: center;
	position: relative;
	right:1.8%;
}
.navBar{
	position:fixed;
	display:block;
	text-align: center;
	background-color: burlywood;
	color:rgb(51, 51, 255);
	height: 50px;
	
}
.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px; /* Used in this example to enable scrolling */
}
.navBar {
overflow: hidden;
background-color: #333;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
left:0; /*Position the navbar from the left */
width: 100%; /* Full width */
z-index: 1;
}
#mainTitle{
	font-size:48px;
	position:relative;
	top:-4px;
	
}
#homeButton{
	font-size:24px;	
	position: relative;
	right:800px;
	bottom:10px;
	border-color: rgb(64 128 128);
	padding:8px;
	border-style: solid;
	border-width: 5px;
}
#idContent{
	position: relative;
	left:42.5%;
	margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
}
#list1_1{
	position: relative;
	left: 0%;
	margin:20px;
}
#list1_2{
	position: relative;
	left: 0%;
	margin:20px;
}
#list2Header{
	position: relative;
	left:38%;
	font-size: 35px;
	left:33.5%;
}
.list2_1{
	position: relative;
	left:2%;
	font-size: 20px;
}
#walterWhitePic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	height: 320px;
	position: relative;
	right:20px;
}
#imagesOfChars{
	position: relative;
	right:20px;
	font-size: 35px;
}
#walterWhiteDescription{
	position: relative;
	left:45%;
	font-size: 18px;
}