body{
	background: url(background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color:yellow;
}
a {
	text-decoration: none;
	font-weight: bolder;
}
h1{
	color: rgb(250, 102, 102);
}
h1:hover{
	color:yellow;
}
h2:hover{
	color:violet;
}
body{
	background-color: rgb(201,222,228);
}
.listAlign{
	list-style-position: inside;
	font-size: 20px;
	font-weight: bolder;
	position:relative;
	text-align: center;	
}
.list2_1{
	position: relative;
	left:2%;
	font-size: 20px;
}
.listAlign a:hover{
	color:green;
}

h2.centering{
	text-align:center;
}
.IMDBLink{
	display:block;
	font-weight: bold;
	text-align: center;
	position: relative;
	right:1.8%;
}
.navBar{
	position:fixed;
	display:block;
	text-align: center;
	background-color: burlywood;
	height: 50px;
}
.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px; /* Used in this example to enable scrolling */
}
.navBar {
overflow: hidden;
background-color: #333;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
left:0; /*Position the navbar from the left */
width: 100%; /* Full width */
height: 8%;
z-index: 1;
/*text-align: center;*/
display:block;
}
#mainTitle{
	font-size:48px;
	/*
	position:relative;
	top:-4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	display:inline-block;*/
	color:rgb(255, 92, 51);
	width: 80%;
    margin: 0 auto;
}
#navButton{
	border-color: rgb(64 128 128);
	border-style: solid;
	border-width: 5px;
	font-size:24px;	
	margin:20px;
	color:yellow;	
}
#buttonContainer{
	
	position:absolute;
	left:10px;
	top:15px;
}
#idContent{
	position: relative;
	/*left:42.5%;
	margin-top: 40px;*/
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
}
#list1_1{
	position: relative;
	left: 0%;
	margin:20px;
}
#list1_2{
	position: relative;
	left: 0%;
	margin:20px;
}
#list2Header{
	position: relative;
	font-size: 35px;
	/*left:38%;
	left:33.5%;*/
	text-align: center;
}
#walterWhitePic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	height: 320px;
	/*position: relative;
	right:25px;*/
	margin:auto;
}
#imagesOfChars{
	position: relative;
	right:25px;
	font-size: 35px;
}
#walterWhiteDescription{
	position: relative;
	left:45%;
	font-size: 18px;
}
#videoTrailer{
	width:600px;
	margin: 0 auto;
    display: block;
}
