body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: yellow;
}
ul ,ol {
  list-style-position: inside;
}
h2:hover {
  color: violet;
}
.list-align {
  list-style-position: inside;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  text-align: center;
}
.list-align a:hover {
  color: green;
}
.images-title {
  text-align: center;
  padding-top: 60px; /* padding from the navbar so it doesn't overlap when clicked on a a href link*/
}
.footer-centering {
  text-align:center;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.nav-bar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; /*Position the navbar from the left */
  width: 100%; /* Full width */
  height: 60px;
  z-index: 1;
  display: block;
}
#main-title {
  font-size: 48px;
  color: rgb(255, 92, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {
  border-color: rgb(64 128 128);
  border-style: solid;
  border-width: 5px;
  font-size: 24px;
  margin: 20px;
  color: yellow;
}
#button-container {
  position: absolute;
  left: 10px;
  top: 15px;
}
#id-content {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color:rgb(255, 255, 128);
}
.header{
  font-size: 35px;
  text-align: center;
  color:rgb(255, 255, 128);
  padding-top: 70px; /* padding from the navbar so it doesn't overlap when clicked on a a href link*/
}
.character-image {
  text-align:center;
}
#images-characters {
  text-align:center;
  font-size: 35px;
  color:rgb(255, 255, 128);
  padding-top:60px;
}
#video-trailer {
  width: 600px;
  margin: 0 auto;
  display: block;
}
.img-container {
  text-align: center;
}
.list-wrapper{
  width:300px;
  margin:50px auto;
  text-align:left;
  font-size: 20px;
}
.content-wrapper{
  width:350px;
  margin:50px auto;
  text-align:center;
  font-size:20px;
  border: 5px dotted #ccc;
  border-radius:12px;
  box-sizing: border-box;
}
.content-wrapper li a{
  text-decoration: none;
  color:yellow;
}
.image-description{
  font-size:20px;
}
